<%- include('partials/header'); %>
<h1>Posts</h1>

<% for(let i = 0; i < posts.length; i++) { %>
    <article>
        <h1><%= posts[i].title %></h1>
        <p><%= posts[i].body %></p>
    </article>
<% } %>

<%- include('partials/footer'); %>