<%- include('partials/header'); %>
<h1>Profile page</h1>

<ul>
    <% for(let i = 0; i < users.length; i++) { %>
        <li><%= users[i].name %></li>
    <% } %>
</ul>
<%- include('partials/footer'); %>
